body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valentine-message {
    color: #FF69B4;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
    animation: pulse 2s infinite;
}

.love-quote {
    color: #FF1493;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}
